@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nova+Square&display=swap");

:root {
  --colorGray: #f4f4f4;
  --colorGreen: #23c483;
  --mont: "Montserrat", sans-serif;
  --jersey: "Jersey 25", sans-serif;
}

/* CONTENIDO DEL GENERAL */

body {
  font-family: var(--mont);
  margin: 0;
  padding: 0;
}

.title {
  font-family: var(--mont);
  font-size: 4vw;
  width: 70%;
  display: flex;
  justify-content: center;
  letter-spacing: 5%;
  margin-bottom: 2%;
  text-shadow: 4px 4px 10px var(--colorGreen);
}

p {
  font-size: 1.3vw;
  line-height: 135%;
}

.btn {
  padding: 0.7vw;
  font-size: 0.75vw;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: var(--colorGray);
  border: none;
  border-radius: 5px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.6);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  text-decoration: none;
  width: 25%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--mont);
}

.btn:hover {
  background-color: var(--colorGreen);
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.btn:active {
  transform: translateY(-1px);
}

#left {
  float: left;
  width: 50%;
  background-color: var(--colorGray);
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#right {
  float: right;
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#right p,
main,
h1 {
  width: 70%;
  text-align: justify;
}
#left p,
h1 {
  width: 70%;
  text-align: justify;
}

/* CONTENIDO DEL INDEX */

.ppalPicture {
  width: 100%;
  margin-bottom: 2%;
  border-radius: 10px;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);

  transition: all 0.3s;
}

.ppalPicture:hover {
  background-color: var(--colorGreen);
  box-shadow: 0px 8px 15px var(--colorGreen);
  color: #fff;
  transform: translateY(-7px);
  cursor: pointer;
}

.linkPortada {
  margin: 0;
  display: flex;
  justify-content: center;
  width: 20vw;
  height: 20vw;
}

#index h2,
h3 {
  margin: 2%;
  font-size: 2vw;
  text-align: center;
}
#index h3 {
  font-size: 1.5vw;
  font-weight: 400;
  margin-top: 1%;
  text-align: center;
}

.emailBtn {
  margin: 2% 0% 5% 0%;
}


#email {
  display: flex;
  flex-direction: column;
  gap: 10%;
  width: 50%;
  height: 10%;
  justify-content: center;
  font-size: 90%;
  margin: 2%;
}

.textEmail{
  display: flex;
  align-items: center;
}

#copy{
  margin: 0px auto;
  display: flex;
  align-items: center;
}
.copyImg {
  filter: contrast(1);
  cursor: pointer;
  transition: all 0.5s ease;
}

.copyImg:hover {
  filter: contrast(0);
}

.copiado{
  display: none;
  margin: 0 auto;
  font-size: 80%;
  color: #00ff99;
}

#redes{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50%;
  margin: 0px auto;
}

.git{
  height: 50%;
  border-radius: 100%;
  transition: all 0.8s ease;
}

.git:hover{
  filter: invert(1);
  background-color: white;
}

.linkedin {
  height: 50%;
  filter: brightness(0);
  transition: all 0.3s ease;
}

.linkedin:hover {
  filter: brightness(1);
}


.mainMenu {
  display: flex;
  flex-wrap: wrap;
  gap: 20%;
  justify-content: space-around;
  align-items: center;
  width: 60%;
  height: 20%;
  padding-inline-start: 0;
  margin-top: 5%;
}

.mainMenu a {
  height: 10%;
  font-size: -4%;
}

/* CONTENIDO RESUMEN */

#summary .title {
  text-align: center;
  margin-top: 0;
}

#summary ul {
  font-family: var(--mont);
  font-size: 1.3vw;
  line-height: 140%;
}

#summary #left .title {
  margin-top: -20%;
}

#summary a {
  margin-top: 5%;
}

/* CONTENIDO FORMACION*/

summary {
  font-family: var(--mont);
  font-size: 1.1vw;
  cursor: pointer;
  font-weight: 600;
  line-height: 160%;
  text-decoration: underline;
}

summary::marker {
  content: "︾ ";
}

summary:hover {
  filter: invert(0.5);
}

details p,
a {
  font-family: var(--mont);
  font-size: 1vw;
  margin: 0 0 0 3%;
}

details a:link {
  color: var(--colorGreen);
  font-weight: bold;
}

details a:hover {
  color: #00ff99;
  font-weight: bold;
}

#trainning #left {
  background-image: url("../imagenes/fotos/estudio.jpeg");
  background-size: cover;
}

#trainning .title {
  text-align: center;
  margin-bottom: 6%;
}

#trainning a {
  margin-top: 5%;
}

#trainning #rigth {
  background-color: white;
}

.details {
  overflow-y: auto; /* Agrega desplazamiento vertical cuando sea necesario */
  max-height: 40%; /* Establece una altura máxima */
}

/* CONTENIDO EXPERIENCIA*/

#experience .title,
main {
  text-align: center;
}

#experience h2 {
  text-transform: uppercase;
  font-size: 1.5vw;
  margin: 3vw 0 0 0;
}

#experience p {
  margin: 0 auto;
  text-align: center;
}

#experience main {
  margin-bottom: 5%;
}

.containerVideo {
  width: 80%;
  height: 80%;
}

.video {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}

/* CONTENIDO PORTAFOLIO */

#briefcase {
  width: 80%;
  margin: 0 auto;
}

.projects {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.projects li {
  width: 20%;
  text-align: center;
}

.projects img {
  width: 100%;
  transition: all 0.5s;
  filter: grayscale(60%);
}

.projects img:hover {
  transform: translateY(-10px);
  filter: grayscale(0%);
}

.projects h4,
p {
  margin: 0 auto;
}

.projects h4 {
  font-size: 120%;
}

#briefcase .title {
  width: 100%;
  align-items: center;
  text-align: center;
}

#briefcase ul {
  padding-inline-start: 0;
}

.btn-briefcase {
  display: block;
  margin: auto;
  width: 10%;
  margin-top: 5%;
  margin-bottom: 3%;
}

@media (max-width: 1000px) {
  #briefcase li h4,
  #briefcase li p {
    font-size: 1.5vw;
  }
  .btn {
    letter-spacing: 1.5px;
  }

  #email {
    font-size: 70%;
  }

  .title {
    margin-bottom: 5%;
  }
}

@media (max-width: 950px) {
  .btn-briefcase {
    width: 10% !important;
  }

  summary {
    font-size: 1.25vw;
  }

  .details p,
  .details a {
    font-size: 1.25vw;
  }

  .details {
    margin-left: 5%;
    width: 85%;
  }
  p,
  li p {
    font-size: 1.4vw;
  }

  .btn {
    width: 35%;
    font-size: 1vw;
  }
}

@media (max-width: 900px) {
  p,
  #summary li {
    font-size: 1.4vw;
  }

  #experience #right h2 {
    font-size: 100%;
  }

  .containerVideo {
    height: 75%;
  }
}

@media (max-width: 850px) {
  #email {
    font-size: 2.2vw;
  }
  #left {
    height: 100vh;
  }

  #right {
    height: 100vh;
  }
  p,
  #summary li {
    font-size: 2vw;
    width: 90% !important;
  }

  .btn {
    padding: 1vw;
    font-size: 1.2vw;
  }
  .mainMenu {
    flex-wrap: wrap;
    width: 80%;
  }

  .mainMenu a {
    height: auto;
    width: 30%;
  }
  .title {
    font-size: 6vw;
    margin-bottom: 15%;
  }
  /* INDEX */

  .linkPortada {
    height: 25vh;
    width: 35vw;
    margin-bottom: 10% !important;
  }

  #index #left a {
    margin: 0 auto;
  }

  #index h2 {
    font-size: 3vw;
  }

  #index h3 {
    font-size: 2vw;
    margin-bottom: 6%;
  }

  .emailBtn {
    padding: 1vw;
    font-size: 1.2vw;
  }
  #index #email .textEmail{
    display: flex;
    justify-content: center;
  }

  /*RESUMEN*/

  #summary ul {
    line-height: 2vh;
  }

  /* PORTAFOLIO */

  #briefcase {
    width: 90%;
  }

  #briefcase li {
    width: 30vw;
    filter: saturate(200%);
  }

  .btn-briefcase {
    width: 15% !important;
  }

  #briefcase li h4,
  #briefcase li p {
    font-size: 2vw;
  }

  .projects {
    justify-content: center;
  }

  /* FORMACION */

  summary {
    font-size: 2vw;
  }

  .details p,
  .details a {
    font-size: 2vw;
  }

  /*EXPEREIENCIA*/

  #experience #right h2 {
    font-size: 2.5vw;
  }

  #experience .btn {
    margin-top: 10%;
  }

  .video {
    width: 95%;
    height: 35vh;
    margin-top: 60%;
  }
}

@media (max-width: 500px) {
  /* GENERALES */
  #email {
    font-size: 4vw;
  }

  #left {
    width: 100%;
    height: 80vh;
  }

  #right {
    width: 100%;
    height: 80vh;
  }

  p,
  #summary li {
    font-size: 4vw;
    width: 90% !important;
  }

  #index #email .textEmail{
    display: flex;
    justify-content: center;
  }

  .btn {
    padding: 2vw;
    font-size: 2.5vw;
  }
  .title {
    font-size: 11vw;
    margin-bottom: 15%;
  }
  /* INDEX */

  .linkPortada {
    height: 30vh;
    width: 60vw;
    margin-bottom: 10% !important;
  }

  #index #left a {
    margin: 0 auto;
  }

  #index h2 {
    font-size: 5vw;
  }

  #index h3 {
    font-size: 4vw;
    margin-bottom: 6%;
  }

  .emailBtn {
    padding: 2vw;
    font-size: 2.5vw;
  }

  /* FORMACION */

  #trainning #right .title {
    font-size: 11vw;
  }

  summary {
    font-size: 4vw;
  }

  .details p,
  .details a {
    font-size: 3.5vw;
  }

  #trainning {
    display: flex;
    flex-direction: column-reverse;
  }

  #trainning #left {
    height: 20vh;
  }

  /* EXPERIENCIA */

  #experience #right .title {
    font-size: 11vw;
  }

  #experience #right {
    height: 80vh;
  }

  #experience #left {
    display: none;
  }

  #experience .btn {
    margin: 0 auto;
  }

  #experience #right h2 {
    font-size: 5vw;
  }

  #experience #right p {
    font-size: 4vw;
  }

  /* PORTAFOLIO */

  #briefcase .title {
    font-size: 11vw;
  }

  #briefcase li {
    width: 170px;
    filter: saturate(200%);
  }

  .btn-briefcase {
    width: 35% !important;
  }

  #briefcase li h4,
  #briefcase li p {
    font-size: 13px;
  }
}
